
<div id="{$_name}" style="display:none" for-xepan-component="xepan/commerce/Tool_IdToName" class="xepan-tool-options">
  <h3>Id To Name</h3>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Page Name</div>
    <div class="xepan-tool-option-value"> 
      <input id="page_name" data-attr="page_name"/>
    </div>
  </div>

    <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Type</div>
    <div class="xepan-tool-option-value"> 
      <input id="type" data-attr="type"/>
    </div>
  </div>

  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Show Parent</div>
      <select id="show_parent" data-attr="show_parent" data-defaultvalue="Hide">
        <option value="true">Show</option>
        <option value="false">Hide</option>
      </select>
  </div>
  <script>
    $('#{$_name} [data-attr]').on('change',function(){
      $(current_selected_component).attr($(this).data('attr'),$(this).val());
    });
    
    $('#{$_name}').on('show',function(event){
      $('#{$_name} [data-attr]').each(function(index,value){
        $(this).val($(current_selected_component).attr($(this).data('attr')));        
      });
    })  
  </script>
</div>