
<div id="{$_name}" style="display:none" for-xepan-component="xepan/commerce/Tool_RecentlyViewedItems" class="xepan-tool-options">
  <h3>Recently Viewed</h3>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Custom Template</div>
    <div class="xepan-tool-option-value"> 
      <input id="custom_template" data-attr="custom_template"/>
    </div>
    <div class="xepan-tool-option-title">Page Name</div>
    <div class="xepan-tool-option-value"> 
      <input id="page_name" data-attr="page_name"/>
    </div>
   
    <div class="xepan-tool-option">
      <div class="xepan-tool-option-title">Hide Product</div>
      <div class="xepan-tool-option-value">
        <select id="hide_product" data-attr="hide_product" data-defaultvalue="false">
          <option value="false">False</option>
          <option value="true">True</option>
        </select>
      </div>
    </div>
             

  </div>
  <script>
    $('#{$_name} [data-attr]').on('change',function(){
      $(current_selected_component).attr($(this).data('attr'),$(this).val());
    });
    
    $('#{$_name}').on('show',function(event){
      $('#{$_name} [data-attr]').each(function(index,value){
        $(this).val($(current_selected_component).attr($(this).data('attr')));        
      });
    })  
  </script>
</div>