
<div id="{$_name}" style="display:none" for-xepan-component="xepan/custom/Tool_Breadcrumb" class="xepan-tool-options">
  <h3>Breadcrumb</h3>
    <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Intermediate Value</div>
    <div class="xepan-tool-option-value"> 
      <input id="intermediate_value" data-attr="intermediate_value"/>
    </div>
    <div class="xepan-tool-option-title">Intermediate Link</div>
    <div class="xepan-tool-option-value"> 
      <input id="intermediate_link" data-attr="intermediate_link"/>
    </div>
  </div>

   <script>
    $('#{$_name} [data-attr]').on('change',function(){
      $(current_selected_component).attr($(this).data('attr'),$(this).val());
    });
    
    $('#{$_name}').on('show',function(event){
      $('#{$_name} [data-attr]').each(function(index,value){
        $(this).val($(current_selected_component).attr($(this).data('attr')));        
      });
    })  
  </script>
</div>