<table style="width: 100%; font-family: times new roman,times,serif; padding: 5px; border: 0px solid #fff;"><!--{header}{cols}{col}-->
<thead>
<tr style="border: 1px solid #fff; height:2px;">
<td style="width: 15%;"></td>
<td style="width: 15%;"></td>
<td style="width: 15%;"></td>
<td style="width: 15%;"></td>
<td style="width: 15%;"></td>
<td style="width: 10%;"></td>
<td style="width: 15%;"></td>
</tr>
</thead>
<!--{/}{/}{/}--> <!--{$subheader}--> <!--{rows}{row}{cols}-->
<tbody>
<tr style="height: 11px;">
<td style="font-size: 8px; border: 1px solid #6e6e6e; text-align: left; height: 11px;"><span style="font-size: 12px;">{$collection}</span></td>
<td style="font-size: 8px; border: 1px solid #6e6e6e; text-align: left; height: 11px;"><span style="font-size: 12px;">{$design}</span></td>
<td style="font-size: 8px; border: 1px solid #6e6e6e; text-align: left; height: 11px;"><span style="font-size: 12px;">{$color}</span></td>
<td style="font-size: 8px; border: 1px solid #6e6e6e; text-align: left; height: 11px;"><span style="font-size: 12px;">{$size}</span></td>
<td style="font-size: 8px; border: 1px solid #6e6e6e; text-align: left; height: 11px;"><span style="font-size: 12px;">{$qty}</span></td>
<td style="font-size: 8px; border: 1px solid #6e6e6e; text-align: left; height: 11px;"><span style="font-size: 12px;">{$price}</span></td>
<td style="font-size: 8px; border: 1px solid #6e6e6e; text-align: left; height: 11px;"><span style="font-size: 12px;">{$narration}</span></td>
</tr>
</tbody>
<!-- {/cols}{/row}{/rows}--></table>