<table style="width: 100%; border: 1px solid #6e6e6e;">
<tbody>
<tr>
<td style="width: 50%; text-align: left; vertical-align: top;"><span style="font-size: 12px;">&nbsp;<img src="websites/www/www/images/NewLogo1.png" alt="" width="150" height="60" />&nbsp;</span></td>
<td style="text-align: right; vertical-align: top;">
<h1><span style="font-size: 12px;">ORDER FORM</span></h1>
<p><span style="font-size: 12px;">Saraswati Global Pvt. Ltd.</span><br /><span style="font-size: 12px;">3 Ganesh Colony, Amer Road, Jaipur-302002 India&nbsp;</span><br /><span style="font-size: 12px;">Ph : +91-141-2671890&nbsp;</span><br /><span style="font-size: 12px;">Email :&nbsp;<strong><a href="mailto:info@saraswatiglobal.com">info@saraswatiglobal.com</a></strong>&nbsp;</span><span style="font-size: 12px;">&nbsp;</span></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 100%; height: auto; border: 0px solid #6e6e6e;">
<tbody>
<tr>
<td style="width: 100%; max-width: 25%;">
<p>&nbsp;</p>
<table style="height: auto;" width="100%">
<tbody>
<tr>
<td style="width: 30%; height: 20px;"><strong>Order Number</strong></td>
<td style="width: 70%;">{$order_no}</td>
</tr>
<tr>
<td style="width: 30%; height: 20px;"><strong>Date</strong></td>
<td style="width: 70%;">{$created_at}</td>
</tr>
<tr>
<td style="width: 30%; height: 20px;"><strong>Customer Name</strong></td>
<td style="width: 70%;">{$customer_name}</td>
</tr>
<tr>
<td style="width: 30%; height: 20px;"><strong>Shipping Address</strong></td>
<td style="width: 70%;">{$ship_to}</td>
</tr>
<tr>
<td style="width: 30%; height: 20px;"><strong>Shipping</strong> <strong>Method</strong></td>
<td style="width: 70%;">{$ship_method}</td>
</tr>
<tr>
<td style="width: 30%; height: 20px;"><strong>Delivery</strong> <strong>Date</strong></td>
<td style="width: 70%;">{$deliver_date}</td>
</tr>
<tr>
<td style="width: 30%; height: 20px;"><strong>Instructions</strong></td>
<td style="width: 70%;">{$instructions}</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table style="border: 0 solid #ffffff; width: 100%; font-family: times new roman,times,serif; padding: 5px;">
<thead>
<tr style="border: 0.9px solid #6e6e6e;">
<td style="width: 15%; font-size: 8px; border: 1px solid #6e6e6e; text-align: left;"><span style="font-size: 12px;"><strong>Collection</strong></span></td>
<td style="font-size: 8px; width: 15%; border: 1px solid #6e6e6e; text-align: left;"><span style="font-size: 12px;"><strong>Design</strong></span></td>
<td style="font-size: 8px; border: 1px solid #6e6e6e; width: 15%; text-align: left;"><span style="font-size: 12px;"><strong>Color</strong></span></td>
<td style="font-size: 8px; width: 15%; border: 1px solid #6e6e6e; text-align: left;"><span style="font-size: 12px;"><strong>Size</strong></span></td>
<td style="font-size: 8px; border: 1px solid #6e6e6e; width: 15%; text-align: left;"><span style="font-size: 12px;"><strong>Qty</strong></span></td>
<td style="font-size: 8px; border: 1px solid #6e6e6e; width: 10%; text-align: left;"><span style="font-size: 12px;"><strong>Price</strong></span></td>
<td style="font-size: 8px; border: 1px solid #6e6e6e; width: 15%; text-align: left;"><span style="font-size: 12px;"><strong>Narration</strong></span></td>
</tr>
</thead>
</table>
{$item_lister}