<table style="width: 100%; border: 1px solid #6e6e6e;">
<tbody>
<tr>
<td style="width: 50%; text-align: left; vertical-align: top;"><span style="font-size: 14px;">&nbsp;<img src="websites/www/www/images/NewLogo1.png" alt="" width="150" height="60" />&nbsp;</span></td>
<td style="text-align: right; vertical-align: top;">
<h1><span style="font-size: 14px;">ORDER FORM</span></h1>
<p><span style="font-size: 14px;">Saraswati Global Pvt. Ltd.</span><br /><span style="font-size: 14px;">3 Ganesh Colony, Amer Road, Jaipur-302002 India&nbsp;</span><br /><span style="font-size: 14px;">Ph : +91-141-2671890&nbsp;</span><br /><span style="font-size: 14px;">Email :&nbsp;<strong><a href="mailto:info@saraswatiglobal.com">info@saraswatiglobal.com</a></strong>&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14px;">&nbsp;</span></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 100%; height: auto; border: 1px solid #6e6e6e;">
<tbody>
<tr>
<td style="width: 100%; max-width: 25%;"><span style="font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
</tr>
<tr>
<td style="width: 100%; max-width: 25%;">
<p><span style="font-size: 14px;">&nbsp;</span></p>
<p><span style="font-size: 14px;"><strong>Order No :</strong>&nbsp;{$order_no}</span></p>
<p><span style="font-size: 14px;"><strong>Date :</strong>&nbsp;{$created_at}</span></p>
<p><span style="font-size: 14px;"><strong>Customer Name :</strong> {$customer_name}</span></p>
<p><span style="font-size: 14px;"><strong>Ship To :</strong> {$ship_to}&nbsp;</span></p>
<p><span style="font-size: 14px;"><strong>Ship Method :</strong> {$ship_method}&nbsp;</span></p>
<p><span style="font-size: 14px;"><strong>Deliver Date :</strong> {$deliver_date}&nbsp;&nbsp;</span></p>
<p><span style="font-size: 14px;"><strong>Instructions :</strong> {$instructions}</span></p>
</td>
</tr>
<tr>
<td style="width: 100%; max-width: 25%;"><span style="font-size: 14px;"><br />&nbsp;<br /></span></td>
</tr>
</tbody>
</table>
<table style="border: 0 solid #ffffff; width: 100%; font-family: times new roman,times,serif; padding: 5px;">
<thead>
<tr style="border: 0.9px solid #6e6e6e;">
<td style="width: 15%; font-size: 8px; border: 1px solid #6e6e6e; text-align: left;"><span style="font-size: 14px;"><strong>Collection</strong></span></td>
<td style="font-size: 8px; width: 15%; border: 1px solid #6e6e6e; text-align: left;"><span style="font-size: 14px;"><strong>Design</strong></span></td>
<td style="font-size: 8px; border: 1px solid #6e6e6e; width: 15%; text-align: left;"><span style="font-size: 14px;"><strong>Color</strong></span></td>
<td style="font-size: 8px; width: 15%; border: 1px solid #6e6e6e; text-align: left;"><span style="font-size: 14px;"><strong>Size</strong></span></td>
<td style="font-size: 8px; border: 1px solid #6e6e6e; width: 15%; text-align: left;"><span style="font-size: 14px;"><strong>Qty</strong></span></td>
<td style="font-size: 8px; border: 1px solid #6e6e6e; width: 10%; text-align: left;"><span style="font-size: 14px;"><strong>Price</strong></span></td>
<td style="font-size: 8px; border: 1px solid #6e6e6e; width: 15%; text-align: left;"><span style="font-size: 14px;"><strong>Narration</strong></span></td>
</tr>
</thead>
</table>
<table style="border: 0; width: 100%;" cellpadding="0">
<tbody>
<tr style="width: 100%;">
<td><span style="font-size: 14px;">{$item_lister}</span></td>
</tr>
</tbody>
</table>