<table style="width: 100%; border: 1px solid #6e6e6e;">
<tbody>
<tr>
<td style="width: 50%; text-align: center; vertical-align: middle;">
<h1 style="text-align: center;"><span style="font-size: 18px;">ORDER FORM</span></h1>
</td>
<td style="text-align: right; vertical-align: top;">
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><img src="websites/www/www/images/NewLogo1.png" alt="" width="300" height="120" /></p>
</td>
</tr>
</tbody>
</table>
<table style="height: auto; width: 100%;">
<tbody>
<tr>
<td style="width: 25%; max-width: 25%;"><span style="font-size: 16px;"><strong>Customer Name :</strong> {$customer_name}<br /><br /></span></td>
<td style="width: 25%; max-width: 25%;"><span style="font-size: 16px;"><strong>Account No :</strong> {$account_no}<br /><br /></span></td>
<td style="width: 25%; max-width: 25%;"><span style="font-size: 16px;"><strong>Deliver Date :</strong> {$deliver_date}<br /><br /></span></td>
<td style="width: 25%; max-width: 25%;"><span style="font-size: 16px;"><strong>Ship To :</strong> {$ship_to}<br /><br /></span></td>
</tr>
<tr>
<td style="width: 25%; max-width: 25%;"><span style="font-size: 16px;"><strong> Ship Method :</strong> {$ship_method}<br /><br /></span></td>
<td style="width: 25%; max-width: 25%;"><span style="font-size: 16px;"><strong> Residential :</strong> {$residentail}<br /><br /></span></td>
<td style="width: 25%; max-width: 25%;"><span style="font-size: 16px;"><strong>Date :</strong> {$created_at}<br /><br /></span></td>
<td style="width: 25%; max-width: 25%;"><span style="font-size: 16px;"><strong> Signature Required :</strong> {$signature_required}<br /><br /></span></td>
</tr>
<tr>
<td style="width: 25%; max-width: 25%;"><span style="font-size: 16px;"><strong>Ship Complete :</strong> {$ship_complete}<br /><br /></span></td>
<td style="width: 25%; max-width: 25%;"><span style="font-size: 16px;"><strong>White Glove :</strong> {$white_glove}<br /><br /></span></td>
<td style="width: 25%; max-width: 25%;"><span style="font-size: 16px;"><strong>Instructions :</strong> {$instructions}<br /><br /></span></td>
<td style="width: 25%; max-width: 25%;"><span style="font-size: 18px;"><strong>Order No :</strong> {$order_no}<br /><br /></span></td>
</tr>
<tr>
<td style="width: 25%; max-width: 25%;"><span style="font-size: 16px;">&nbsp;</span></td>
<td style="width: 25%; max-width: 25%;"><span style="font-size: 16px;"><br /><br /></span></td>
<td style="width: 25%; max-width: 25%;"><span style="font-size: 16px;"><br /><br /></span></td>
<td style="width: 25%; max-width: 25%;"><span style="font-size: 16px;"><br /><br /></span></td>
</tr>
</tbody>
</table>
<table style="width: 100%; font-family: times new roman,times,serif; padding: 5px;">
<thead>
<tr style="border: 0.9px solid #6e6e6e;">
<td style="width: 15%; font-size: 8px; border: 1px solid #6e6e6e; text-align: left;"><span style="font-size: 16px;"><strong>Collection</strong></span></td>
<td style="font-size: 8px; width: 15%; border: 1px solid #6e6e6e; text-align: left;"><span style="font-size: 16px;"><strong>Design</strong></span></td>
<td style="font-size: 8px; border: 1px solid #6e6e6e; width: 15%; text-align: left;"><span style="font-size: 16px;"><strong>Color</strong></span></td>
<td style="font-size: 8px; width: 15%; border: 1px solid #6e6e6e; text-align: left;"><span style="font-size: 16px;"><strong>Size</strong></span></td>
<td style="font-size: 8px; border: 1px solid #6e6e6e; width: 15%; text-align: left;"><span style="font-size: 16px;"><strong>Qty</strong></span></td>
<td style="font-size: 8px; border: 1px solid #6e6e6e; width: 10%; text-align: left;"><span style="font-size: 16px;"><strong>Price</strong></span></td>
<td style="font-size: 8px; border: 1px solid #6e6e6e; width: 15%; text-align: left;"><span style="font-size: 16px;"><strong>Narration</strong></span></td>
</tr>
</thead>
<tbody>
<tr>
<td style="font-size: 8px; border: 0px solid #6e6e6e; text-align: left; height: 0px;">&nbsp;</td>
<td style="font-size: 8px; border: 0px solid #6e6e6e; text-align: left; height: 0px;">&nbsp;</td>
<td style="font-size: 8px; border: 0px solid #6e6e6e; text-align: left; height: 0px;">&nbsp;</td>
<td style="font-size: 8px; border: 0px solid #6e6e6e; text-align: left; height: 0px;">&nbsp;</td>
<td style="font-size: 8px; border: 0px solid #6e6e6e; text-align: left; height: 0px;">&nbsp;</td>
<td style="font-size: 8px; border: 0px solid #6e6e6e; text-align: left; height: 0px;">&nbsp;</td>
<td style="font-size: 8px; border: 0px solid #6e6e6e; text-align: left; height: 0px;">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="width: 100%; border: 1px solid #6e6e6e;" cellpadding="0">
<tbody>
<tr style="width: 100%;">
<td><span style="font-size: 16px;">{$item_lister}</span></td>
</tr>
</tbody>
</table>