<table style="border: 0 solid #ffffff; width: 100%; font-family: times new roman,times,serif; padding: 5px;"><!--{header}{cols}{col}--><!--{/}{/}{/}--> <!--{$subheader}--> <!--{rows}{row}{cols}-->
<tbody>
<tr style="height: 11px;">
<td style="width: 15%; font-size: 8px; border: 1px solid #6e6e6e; text-align: left; height: 11px;"><span style="font-size: 14px;">{$collection}</span></td>
<td style="width: 15%; font-size: 8px; border: 1px solid #6e6e6e; text-align: left; height: 11px;"><span style="font-size: 14px;">{$design}</span></td>
<td style="width: 15%; font-size: 8px; border: 1px solid #6e6e6e; text-align: left; height: 11px;"><span style="font-size: 14px;">{$color}</span></td>
<td style="width: 15%; font-size: 8px; border: 1px solid #6e6e6e; text-align: left; height: 11px;"><span style="font-size: 14px;">{$size}</span></td>
<td style="width: 15%; font-size: 8px; border: 1px solid #6e6e6e; text-align: left; height: 11px;"><span style="font-size: 14px;">{$qty}</span></td>
<td style="width: 10%; font-size: 8px; border: 1px solid #6e6e6e; text-align: left; height: 11px;"><span style="font-size: 14px;">{$price}</span></td>
<td style="width: 15%; font-size: 8px; border: 1px solid #6e6e6e; text-align: left; height: 11px;"><span style="font-size: 14px;">{$narration}</span></td>
</tr>
</tbody>
<!-- {/cols}{/row}{/rows}--></table>