
<div id="{$_name}_card_model" tabindex="-1" role="dialog" aria-labelledby="{$_name}_model_label" class="modal fade hidden-xs hidden-sm">
  <div role="document" class="modal-dialog">
    <div style="background-image: url({$image}); min-height:650px !important; max-height:650px; overflow:hidden;" class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true" style="font-size: 35px; font-weight : bold; margin-right:10px; color: #000 !important;">×	</span></button>
      </div>
      <div class="modal-body"> 
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"> 
            <div class="row">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div style="margin-top:546px;">{$form}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('#{$_name}_card_model').on('show.bs.modal', function (e) {
      if (window.innerWidth < 800) {
        return e.preventDefault();
      }
    });
    
    
  </script>
</div>
<style>
  .modal-dialog{
   width: 800px;
  }
  
  .modal-body{
   padding-top :0px !important;
  } 
  
  .close {
   opacity : 0px !important;
  }
</style>