<div id="{$_name}" style="{$style}" class="xepan-commerce-item-images {$class} ">
    {$Content}
    {zoom3_image}<div style="border:1px solid #ddd; height: 650px; width: 500px; position: relative; max-width:100%; line-height:650px;"><img id="zoom_03{$_name}" src="{firstimage}vendor/xepan/commerce/templates/view/tool/item/images/xepan_item_list_no_image.jpg{/}" data-zoom-image="{$firstimage}" onerror="this.src='vendor/xepan/commerce/templates/view/tool/item/images/xepan_item_list_no_image.jpg'" style="max-height: 100%; max-width: 100%; width: 500px; height: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; vertical-align: middle;" class="zoomwrapper-img xepan-commerce-item-image-to-zoom"/></div>  {/zoom3_image}
  <div id="gal1{$_name}" style="margin-top:30px;" class="xshop-item-image-list">
    <hr/>{rows}
    {row}
    <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
      <div class="xshop-item-image-block" style="border:1px solid #ddd; height: 180px; width: 140px; position: relative; max-width:100%;"><a style="" href="#{$id}" data-image="{$file}" data-zoom-image="{$file}" class="xshop-item-image-link elevatezoom-gallery"><img id="img_{$id}" style="max-height: 100%; max-width: 100%; width: auto; height: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;" src="{$thumb_url}" alt="{$img_alt}" title="{$img_title}" onerror="this.src='vendor/xepan/commerce/templates/view/tool/item/images/xepan_item_list_no_image.jpg'" class=""/></a></div>
    </div> {/row}
     {/rows}
  </div>
</div>
<style>
  .zoomwrapper{
    width:100%!important;
    max-width:100%!important;
  }

  .zoomWindow{
    border: 1px solid #888 !important;
    height: 550px !important;
    width: 500px !important;
  }
</style>