<div class="">
  <div id="{$_name}">{category_list}
  {$header}
  {rows}{row}
  <ul class="xepan-commerce-item col-lg-3 col-md-3 col-sm-12 list-group">
    <li class="list-group-item xepan-commerce-image-wrapper"><a href="{$url}" class="xepan-commerce-image-anchor"><img src="{item_image}abc{/}" class="xepan-commerce-item-img" style=" width: 250px; max-width:100%; height:300px;"/></a></li>
    <li class="list-group-item xepan-commerce-item-name-wrapper"><a href="{url}{/}" class="xepan-commerce-item-name">
        <span>{$name}</span></a></li>
    <li class="list-group-item xepan-commerce-item-name-wrapper">
      <button class=" atk-button remove-from-wishlist" style="" data-initvalue="" data-id="{$id}">Remove From Wishlist</button>
    </li>
  </ul>{/}{/}
</div>{/}
</div>{image_wrapper}{/}
<div class="row">
<div role="alert" class="col-md-12 text-center alert alert-warning" style="display:none;"><span class="icon-attention fa fa-exclamation-triangle" > &nbsp;{$not_found_message}</span></div>
{$not_found}
</div>{/}