<style>
input {
    border-left: 4px solid #3F7ECB !important;
    font-size: 0.8125em;
    padding: 8px;
    outline: none;
    width:400px;
    margin: 10px 0;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #999595;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(153, 149, 149);
}

select {
    border-left: 4px solid #3F7ECB !important;
    font-size: 0.8125em;
    color: #000;
    padding: 8px;
    outline: none;
    margin: 10px 0;
    width: 400px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #999595;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(153, 149, 149);
}

textarea {
    padding: 10px 15px;
    width: 100%;
    max-width: 100%;
    color: #000;
    font-size: 0.8125em;
    border: 1px solid #999595 !important;
    background: #fff;
    outline: none;
    display: block;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
    vertical-align: top;
    border-left: 4px solid #57bdc9 !important;
    font-size: 0.8125em;
    color: #999;
    padding: 8px;
    outline: none;
    margin: 10px 0;
    font-family: 'Open Sans', sans-serif;
    border: 1px; 
}

.enquiry-form button :hover {
    background: #57bdc9;
    border-bottom: 4px solid #000;
}
.enquiry-form button {
    background: #555;
    color: #FFF;
    font-size: 0.8em;
    padding: 8px 20px;
    border-radius: 5px;
    border-bottom: 4px solid #57bdc9;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    border-right: none;
    border-left: none;
    border-top: none;
    float: left;
}

</style>
<div class="row">
  <div class="col-md-1 col-lg-1"></div>
  <div class="col-md-5 col-lg-5">
    <div class="row  atk-row atk-form-field"><strong>Name :</strong>
      <div>{$name}</div>
    </div>
    <div class="row atk-form-field atk-row"><strong>Organization :</strong>
      <div>{$organization}</div>
    </div>
    <div class="row atk-form-field atk-row"><strong>Email :</strong>
      <div>{$email}</div>
    </div>
    <div class="row atk-form-field atk-row"><strong>Contact Number :</strong>
      <div>{$contact_no}</div>
    </div>
  </div>
  <div class="col-md-5 col-lg-5">
    <div class="row atk-form-field atk-row"><strong>Address:</strong>
      <div>{$address}</div>
    </div>
    <div class="row atk-form-field atk-row"><strong>City:</strong>
      <div>{$city}</div>
    </div>
    <div class="row atk-form-field atk-row"><strong>State:</strong>
      <div>{$state}</div>
    </div>
    <div class="row atk-form-field atk-row"><strong>Country:</strong>
      <div>{$country}</div>
    </div>
  </div>
  <div class="col-md-1 col-lg-1"></div>
</div>
<div class="row">
  <div class="col-md-1 col-lg-1"></div>
  <div class="col-md-10 col-lg-10">
    <div class="row atk-form-field atk-row"><strong>Requirements:</strong>
      <div>{$requirements}</div>
    </div>
  </div>
  <div class="col-md-1 col-lg-1"></div>
</div>
<div class="row">
  <div class="col-md-1 col-lg-1"></div>
  <div class="col-md-11 col-lg-11">
    <div class="row atk-form-field atk-row"><span></span>
      <div>{$Content}</div>
    </div>
  </div>
  <div class="col-md-1 col-lg-1"></div>
</div>
<div class="row enquiry-form">
  <div class="col-md-1 col-lg-1"></div>
  <div class="col-md-11 col-lg-11">
    <div class="row atk-form-field atk-row">{$FormButtons}</div>
  </div>
</div>